# 20.2 Veri Analizi Pandas

In [41]:
import pandas as pd 
import numpy as np

In [42]:
pandas_series = pd.Series()

print(pandas_series)

Series([], dtype: object)

In [43]:
# data 

numbers =[20,30,40,50]
letters = ["a","b","c","d",20]
scalar = 5
dict = {"a":10,"b":20,"c":30,"d":40}
random_numbers = np.random.randint(10,100,6)

pandas_series = pd.Series()
pandas_series = pd.Series(numbers)
pandas_series = pd.Series(letters)
pandas_series = pd.Series(scalar)
pandas_series = pd.Series(5,[0,1,2,3])
pandas_series = pd.Series(numbers,["a","b","c","d"])
pandas_series = pd.Series(dict)
pandas_series = pd.Series(random_numbers)

print(pandas_series)

0    98
1    41
2    18
3    26
4    58
5    22
dtype: int32

In [44]:

pandas_series = pd.Series([20,30,40,50],["a","b","c","d"])

result = pandas_series[:2]
result = pandas_series[-2:]
result = pandas_series['a']
result = pandas_series['d']
result = pandas_series[['a','d']]
result = pandas_series.ndim
result = pandas_series.dtype
result = pandas_series.shape
result = pandas_series.sum()
result = pandas_series.max()
result = pandas_series.min()
result = pandas_series + pandas_series
result = np.sqrt(pandas_series)

result = pandas_series >= 50 
result = pandas_series % 2 == 0





print(pandas_series)
print(result)

a    20
b    30
c    40
d    50
dtype: int64
a    True
b    True
c    True
d    True
dtype: bool

In [45]:
opel2018 = pd.Series([20,30,40,10],["astra","corsa","mokka","insignia"])
opel2019 = pd.Series([40,30,20,10],["astra","corsa","gradland","insignia"])

total = opel2018 + opel2019 
print (total["astra"])

60.0

# 20.3 DataFrames

In [ ]:
df = pd.DataFrame()
df = pd.DataFrame([1,2,3,4])

print (df)

   0
0  1
1  2
2  3
3  4

In [3]:
import pandas as pd 


s1 = pd.Series([3,2,0,1])
s2 = pd.Series([0,3,7,2])

data = dict (apples = s1 , oranges = s2)

df = pd.DataFrame(data)

print (df)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [16]:
list = [["Ahmet",50],["Serhat",50],["Yagmur",40],["Ali",80]]
df = pd.DataFrame(list , index = [1,2,3,4] , columns = ["name","grade"])

print (df)

     name  grade
1   Ahmet     50
2  Serhat     50
3  Yagmur     40
4     Ali     80

In [15]:
dict = {"Name": ["Ahmet","Serhat","Yagmur","Ali"], "Grade" : [50,60,70,80]} 
df = pd.DataFrame(dict)
print (df)

     Name  Grade
0   Ahmet     50
1  Serhat     60
2  Yagmur     70
3     Ali     80

In [14]:
dict_list = [
    {"Name": "Ahmet", "Grade":50},
    {"Name": "yagmur", "Grade":70},
    {"Name": "Ali", "Grade":90},
    {"Name": "Serhat", "Grade":80}
]


df = pd.DataFrame(dict)
print (df)

     Name  Grade
0   Ahmet     50
1  Serhat     60
2  Yagmur     70
3     Ali     80

# 20.4 Farklı Dosya Tiplerinden Veri Okuma

In [18]:
df = pd.read_json('sample.json',encoding="UTF-8")

print(df)

     Name  Grade
0   Ahmet     50
1  yagmur     70
2     Ali     90
3  Serhat     80

# 20.5 DataFrame ile Satır Sutun Seçimleri

In [ ]:
import pandas as pd
from numpy.random import randn 

df = pd.DataFrame(randn(3,3) , index = ["A" , "B" , "C"] , columns = ["Column1","Column2","Column3"])

result = df
result = df["Column1"]
result = type(df["Column1"])
result = df[["Column1","Column2"]]

#loc ["row","column"] => loc["row"] => loc[":","column"]

result = df.loc["A"]
result = type(df.loc["A"])
result = df.iloc[2]
result = df.loc[:,["Column1","Column2"]]
result = df.loc[:,"Column1":"Column2"]
result = df.loc[:,:"Column2"]
result = df.loc["A":"B",:"Column2"]
result = df.loc[:"B",:"Column2"]
result = df.loc["A","Column2"]
result = df.loc[["A","B"],["Column2","Column1"]]

df["Column4"] = pd.Series(randn(3),["A","B","C"])
df["Column5"] = df["Column1"] + df["Column3"]

df.drop("Column5" , axis=1 , inplace = True)

print (result)
print(df)

    Column2   Column1
A  0.603407 -1.381192
B  0.243403  0.456578
    Column1   Column2   Column3   Column4
A -1.381192  0.603407  0.477714 -2.668982
B  0.456578  0.243403  0.834241 -0.238150
C  0.925622 -1.200521  0.156689 -2.342814

# 20.6 DataFrame ile Filtreleme

In [26]:
import pandas as pd
import numpy as np

data = np.random.randint(10,100,75).reshape(15,5)
df = pd.DataFrame(data, columns=["Column1","Column2","Column3","Column4","Column5"])

result = df
result = df.columns
result = df.head()
result = df.head(10)
result = df.tail()
result = df.tail(10)
result = df["Column1"].head()
result = df.Column1.head()
result = df[["Column1","Column2"]].head()
result = df[5:15][["Column1","Column2"]].head()
result = df[5:15][["Column1","Column2"]].tail()

result = df > 50 
result = df[df > 50]
result = df[df % 2 == 0 ]
result = df[df["Column1"] > 50][["Column1","Column2"]]
result = df[(df["Column1"] > 50) & (df["Column1"] <= 70)]
result = df[(df["Column1"] > 50) & (df["Column2"] <= 70)]
result = df[(df["Column1"] > 50) | (df["Column2"] <= 70)]
result = df[(df["Column1"] > 50) | (df["Column2"] <= 70)][["Column1","Column2"]]
result = df.query("Column1 >= 50 & Column1 % 2 == 0")[["Column1","Column2"]]
result = df.query("Column1 >= 50 | Column1 % 2 == 0")[["Column1","Column2"]]



print(result)

    Column1  Column2
0        89       84
1        10       95
2        75       11
4        91       73
6        86       68
7        56       94
8        46       68
9        51       79
10       12       91
11       75       43
13       42       69
14       58       91

# 20.7 Demo ImdbData.py

# 20.8 DF ile Groupby kullanımı

In [ ]:
import pandas as pd
import numpy as np

# Veriler
personeller = {
    'Çalışan': ['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman': ['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
}

# DataFrame oluştur
df = pd.DataFrame(personeller)
try:
    """""
    result = df.groupby("Semt").get_group("Kadıköy")
    result = df.groupby("Departman").get_group("Muhasebe")
    result = df.groupby("Departman").sum()
    result = df.groupby("Departman").mean()
    result = df.groupby("Departman")["Maaş"].mean()
    result = df.groupby("Semt")["Yaş"].mean()
    result = df.groupby("Semt")["Maaş"].mean()
    result = df.groupby("Semt")["Çalışan"].count()
    result = df.groupby("Departman")["Yaş"].max()
    result = df.groupby("Departman")["Maaş"].min()
    result = df.groupby("Departman")["Maaş"].max()
    result = df.groupby("Departman")["Maaş"].max()["Muhasebe"]
    result = df.groupby("Departman").agg(np.mean)
    """""
    result = df.groupby("Departman")["Maaş"].agg([np.sum,np.mean,np.max,np.min]).loc["Muhasebe"]
    
    print(result)

except KeyError as e:
    print(f"Hata: {e}")

# 20.9 Kayıp ve Bozma Veri Analizi

In [40]:
import pandas as pd
import numpy as np

data = np.random.randint(10,100,15).reshape(5,3)

df = pd.DataFrame(data, index=["a","c","e","f","h"] ,columns=["Column1","Column2","Column3"])

df = df.reindex(["a","b","c","d","e","f","g","h"])

newColumn = [np.nan,30,np.nan,51,np.nan,30,np.nan,10]
df["Column4"] = newColumn

result = df 
result = df.drop("Column1", axis=1)
result = df.drop(["Column1","Column2"], axis=1)
result = df.drop("a", axis=0)
result = df.drop(["a","b","c"], axis=0)

result = df.isnull()
result = df.notnull()
result = df.isnull().sum()
result = df[df["Column1"].isnull()]
result = df[df["Column1"].isnull()]["Column1"]
result = df[df["Column1"].notnull()]["Column1"]

result = df.dropna() # axis => 0 satıra 
result = df.dropna(axis= 1) # axis => 1 sutüna
result = df.dropna(how = "any")
result = df.dropna(how = "all")
result = df.dropna(subset = ["Column1" , "Column2"], how = "all")
result = df.dropna(subset = ["Column1" , "Column2"], how = "any")
result = df.dropna(thresh= 2 )
result = df.dropna(thresh= 3 ) # en az sayıda normal veri

result = df.fillna(value = "no input")
result = df.fillna(value = 1 )

def ortalama(df):
    toplam = df.sum().sum()
    adet = df.size - df.isnull().sum().sum()
    return toplam / adet 
result = df.fillna(value= ortalama(df))

print (result)

     Column1    Column2    Column3    Column4
a  27.000000  42.000000  89.000000  46.105263
b  46.105263  46.105263  46.105263  30.000000
c  44.000000  73.000000  64.000000  46.105263
d  46.105263  46.105263  46.105263  51.000000
e  43.000000  31.000000  65.000000  46.105263
f  49.000000  57.000000  97.000000  30.000000
g  46.105263  46.105263  46.105263  46.105263
h  14.000000  22.000000  38.000000  10.000000

# 20.10 String Fonksiyonları

In [53]:
import pandas as pd

data = pd.read_csv("nba.csv")
data.dropna(inplace= True)

#data["Name"] = data["Name"].str.upper()
#data["Name"] = data["Name"].str.lower()
#data["index"]= data["Name"].str.find("a")
#data = data[data.Name.str.contains("Jordan")]
#data = data.Team.str.replace(" ", "-" )
data[['FirstName','LastName']] = data['Name'].loc[data['Name'].str.split().str.len()==2].str.split(expand = True)

print(data.head(5))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0

         College     Salary FirstName LastName
0          Texas  7730337.0     Avery  Bradley
1      Marquette  6796117.0       Jae  Crowder
3  Georgia State  1148640.0      R.J.   Hunter
6            LSU  1170960.0    Jordan   Mickey
7        Gonzaga  2165160.0     Kelly   Olynyk

# 20.11 Join ve Merge

In [8]:
import pandas as pd

customers = {
    'CustomerId' : [1,2,3,4],
    'FirstName' : ["Ahmet", "Ali", "Hasan", "Canan"],
    'LastName' : ['Yılmaz', 'Korkmaz', 'Çelik', 'Toprak']
}

orders = {
    'OrdersId' : [10,11,12,13],
    'CustomerId' : [1,2,5,7],
    'OrderDate' : ['2010-07-04','2010-08-04','2010-07-07','2012-07-04']
}

df_customers = pd.DataFrame(customers, columns=["CustomerId",'FirstName','LastName'])
df_orders = pd.DataFrame(orders, columns = ['OrdersId','CustomerId','OrderDate'])

print(df_customers)
print(df_orders)

result = pd.merge(df_customers,df_orders, how = "inner")
result = pd.merge(df_customers,df_orders, how = "left")
result = pd.merge(df_customers,df_orders, how = "right")
result = pd.merge(df_customers,df_orders, how = "outer")

print(result)

   CustomerId FirstName LastName
0           1     Ahmet   Yılmaz
1           2       Ali  Korkmaz
2           3     Hasan    Çelik
3           4     Canan   Toprak
   OrdersId  CustomerId   OrderDate
0        10           1  2010-07-04
1        11           2  2010-08-04
2        12           5  2010-07-07
3        13           7  2012-07-04
   CustomerId FirstName LastName  OrdersId   OrderDate
0           1     Ahmet   Yılmaz      10.0  2010-07-04
1           2       Ali  Korkmaz      11.0  2010-08-04
2           3     Hasan    Çelik       NaN         NaN
3           4     Canan   Toprak       NaN         NaN
4           5       NaN      NaN      12.0  2010-07-07
5           7       NaN      NaN      13.0  2012-07-04

In [11]:
import pandas as pd
customersA = {
    'CustomerId' : [1,2,3,4],
    'FirstName' : ["Ahmet", "Ali", "Hasan", "Canan"],
    'LastName' : ['Yilmaz', 'Korkmaz', 'Çelik', 'Toprak']
}

customersB = {
    'CustomerId' : [4,5,6,7],
    'FirstName' : ["Furkan", "Ali", "Ben", "Yavru"],
    'LastName' : ['Altin', 'Korkar', 'Alimum', 'Ninu']
}


df_customersA = pd.DataFrame(customersA, columns = ["CustomerId",'FirstName','LastName'])
df_customersB = pd.DataFrame(customersB,    columns = ["CustomerId",'FirstName','LastName'])

result = pd.concat([df_customersA,df_customersB])

print(result)

   CustomerId FirstName LastName
0           1     Ahmet   Yilmaz
1           2       Ali  Korkmaz
2           3     Hasan    Çelik
3           4     Canan   Toprak
0           4    Furkan    Altin
1           5       Ali   Korkar
2           6       Ben   Alimum
3           7     Yavru     Ninu

# 20.12 DataFrame Metotları

In [ ]:
import pandas as pd
import numpy as np 

data ={
    "Column1" : [1,2,3,4,5],
    "Column2" : [10,20,13,20,25],
    "Column3" : ["abc","bca","ade","cba","dea"]
}

def kareal (x):
    return x * x

kareal2 = lambda x : x * x

df = pd.DataFrame(data)
result = df
result = df["Column2"].unique()
result = df["Column2"].nunique()
result = df["Column2"].value_counts()
result = df["Column1"] * 2
result = df["Column1"].apply(kareal)
result = df["Column1"].apply(kareal2)
result = df["Column1"].apply(lambda x : x * x)
result = df["Column3"].apply(len)
result = df.info
result = df.sort_values("Column2")
result = df.sort_values("Column3")
result = df.sort_values("Column3",ascending=False)


print(result)

   Column1  Column2 Column3
4        5       25     dea
3        4       20     cba
1        2       20     bca
2        3       13     ade
0        1       10     abc

In [26]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(data)

data = {
    "Ay": ["Mayis","Haziran","Nisan","Mayis","Haziran","Nisan","Mayis","Haziran","Nisan"],
    "Kategori": ["Elektronik","Elektronik","Elektronik","Kitap","Kitap","Kitap","Giyim","Giyim","Giyim"],
    "Gelir": [20,30,15,14,32,42,12,36,52]
}

df = pd.DataFrame(data)

print(df.pivot_table(index="Ay",columns= "Kategori", values= "Gelir"))

Kategori  Elektronik  Giyim  Kitap
Ay
Haziran         30.0   36.0   32.0
Mayis           20.0   12.0   14.0
Nisan           15.0   52.0   42.0