# 22.1 Database Nedir

    Memory 
    File System =>  .json .xml .xls
    SQL         => (MySql  MsSql(Server))  SQLite(Serverless)
    NoSQL       =>  MongoDb(Server)

# 22.2 SQL VeriTabanı Yapısı

# 22.3 SQL Tablo İlişkileri

-One to many 
-Many to Many 
-One to One

# 22.4 SQL Veri Tabanı Uygulama-1

# 22.5 Uygulama-2

# 22.6 Uygulama-3

# 22.7 MySQL Kurulum

# 22.8 VeriTabanına Tablo Ekleme

# 22.9 Veritabanı Baglantısı

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost", #192.32.32.32
    user = "root",
    password = "mysql4123"
)
print(mydb)

Yeni bir Database Oluşturur.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost", #192.32.32.32
    user = "root",
    password = "mysql4123"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")
print(mydb)

Olusturdugumuz DB'lere Bakmamızı Saglar

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost", #192.32.32.32
    user = "root",
    password = "mysql4123"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

Olusturdugumuz DB içine column açma

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost", #192.32.32.32
    user = "root",
    password = "mysql4123",
    database = "mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers(name VARCHAR(255), adress VARCHAR(255))")

# 22.10 Demo-Okul_Veri_Tabanı

Sutünlar ve baglantı kuruldu.

# 22.11 Insert Sorgusu

In [6]:
import mysql.connector

def insertProduct(name,price,imageUrl,description):
    connection = mysql.connector.connect(host="localhost", user = "root", password = "MySQL123" , database = "node-app")
    cursor = connection.cursor()

    sql = "INSERT INTO Products(name,price,imageUrl,description) VALUES (%s,%s,%s,%s)"
    values = (name,price,imageUrl,description)
    cursor.execute(sql,values)
    try:
        connection.commit()
        print(f'{cursor.rowcount} tanr kayıt olusturuldu')   #rowcount kaç tane kayıt olusturuldugunu soyler.
        print(f'son eklenen kaydın id :{cursor.lastrowid}')
    except mysql.connector.Error as err:
        print('Hata: ', err)
    finally:
        connection.close()
        print("Database kapatıldı")

def insertProducts(list):
    connection = mysql.connector.connect(host="localhost", user = "root", password = "MySQL123" , database = "node-app")
    cursor = connection.cursor()

    sql = "INSERT INTO Products(name,price,imageUrl,description) VALUES (%s,%s,%s,%s)"
    values = (list)
    cursor.executemany(sql,values)
    try:
        connection.commit()
        print(f'{cursor.rowcount} tanr kayıt olusturuldu')   #rowcount kaç tane kayıt olusturuldugunu soyler.
        print(f'son eklenen kaydın id :{cursor.lastrowid}')
    except mysql.connector.Error as err:
        print('Hata: ', err)
    finally:
        connection.close()
        print("Database kapatıldı")

list=[]

while True:
    name = input ("Ürün adi: ")
    price = float(input ("Ürün price: "))
    imageUrl = input ("Ürün png: ")
    description = input ("Ürün comment: ")

    list.append((name,price,imageUrl,description))

    result = input ('devam etmek isyiormusunuz (h/e)')

    if result == 'h':
        print('Kayıtlarınız Vritabanına aktarılıyor. ')
        print (list)
        insertProducts(list)
        break


#insertProduct(name,price,imageUrl,description)

Kayıtlarınız Vritabanına aktarılıyor.
[('s12', 12.0, '12.png', '12'), ('s13', 13.0, '13.', '13.')]
2 tanr kayıt olusturuldu
son eklenen kaydın id :6
Database kapatıldı

# 22.12 Demo-Okul Veri Tabanı-2

Kayıt Ekleme-Okul_Veri_Tabanı.py

# 22.13 Select Sorgusu

In [19]:
import mysql.connector

def insertProduct(name,price,imageUrl,description):
    connection = mysql.connector.connect(host="localhost", user = "root", password = "MySQL123" , database = "node-app")
    cursor = connection.cursor()

    sql = "INSERT INTO Products(name,price,imageUrl,description) VALUES (%s,%s,%s,%s)"
    values = (name,price,imageUrl,description)
    cursor.execute(sql,values)
    try:
        connection.commit()
        print(f'{cursor.rowcount} tanr kayıt olusturuldu')   #rowcount kaç tane kayıt olusturuldugunu soyler.
        print(f'son eklenen kaydın id :{cursor.lastrowid}')
    except mysql.connector.Error as err:
        print('Hata: ', err)
    finally:
        connection.close()
        print("Database kapatıldı")

def insertProducts(list):
    connection = mysql.connector.connect(host="localhost", user = "root", password = "MySQL123" , database = "node-app")
    cursor = connection.cursor()

    sql = "INSERT INTO Products(name,price,imageUrl,description) VALUES (%s,%s,%s,%s)"
    values = (list)
    cursor.executemany(sql,values)
    try:
        connection.commit()
        print(f'{cursor.rowcount} tanr kayıt olusturuldu')   #rowcount kaç tane kayıt olusturuldugunu soyler.
        print(f'son eklenen kaydın id :{cursor.lastrowid}')
    except mysql.connector.Error as err:
        print('Hata: ', err)
    finally:
        connection.close()
        print("Database kapatıldı")

def getProducts():
    connection = mysql.connector.connect(host="localhost", user = "root", password = "MySQL123" , database = "node-app")
    cursor = connection.cursor()

    #cursor.execute('Select * From Products')       # "*" Tüm sutünleri alır  ıd[0],name[1],price[2] sql sırası
    cursor.execute('Select name,price From Products') # sadece belirtilen sutünleri alır name[0],price[1]

    #result = cursor.fetchall()
    result = cursor.fetchone()
    
    print(f'name : {result[0]} price: {result[1]}')

    #for product in result :
        #print(f'name : {product[1]} price: {product[2]}')
        #print(f'name : {product[0]} price: {product[1]}')

getProducts()

name : S6 price: 2000